NewHuntersWP/Service References/ServiceReference/HuntersService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/HuntersService.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HuntersService.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://huntersdatamigrate.azurewebsites.net/HuntersService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfQuestion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Question" nillable="true" type="tns:Question" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuestion" nillable="true" type="tns:ArrayOfQuestion" />
  <xs:complexType name="Question">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="AnswerRangeFrom" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AnswerRangeTextF" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AnswerRangeTextT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AnswerRangeTo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Apply_2nd_Question" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustomerID" type="xs:long" />
          <xs:element minOccurs="0" name="CustomerSurveyID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DecenWtHomes" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Display" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ExcludeFromClone" type="xs:boolean" />
          <xs:element minOccurs="0" name="LeaseholderQuestion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LookAtRange" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Main_Element" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NeedToHaveMedia" type="xs:boolean" />
          <xs:element minOccurs="0" name="QuestionGroup" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Question_Heading" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Question_Order" type="xs:int" />
          <xs:element minOccurs="0" name="Question_Ref" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Question_Type" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SurveyType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="createPDF" type="xs:boolean" />
          <xs:element minOccurs="0" name="finishSection" type="xs:boolean" />
          <xs:element minOccurs="0" name="isDate" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Question" nillable="true" type="tns:Question" />
  <xs:complexType name="Entity">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="IsDeletedOnClient" type="xs:boolean" />
      <xs:element minOccurs="0" name="LogItemId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="NetmeraId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Entity" nillable="true" type="tns:Entity" />
  <xs:complexType name="ArrayOfSurveyType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SurveyType" nillable="true" type="tns:SurveyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSurveyType" nillable="true" type="tns:ArrayOfSurveyType" />
  <xs:complexType name="SurveyType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="CustomerID" type="xs:long" />
          <xs:element minOccurs="0" name="CustomerSurveyID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SurveyType" nillable="true" type="tns:SurveyType" />
  <xs:complexType name="ArrayOfRichMedia">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RichMedia" nillable="true" type="tns:RichMedia" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRichMedia" nillable="true" type="tns:ArrayOfRichMedia" />
  <xs:complexType name="RichMedia">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="CloudPath" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustomerID" type="xs:long" />
          <xs:element minOccurs="0" name="CustomerSurveyID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Option_ID" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="PDFFileName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Question_Ref" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UPRN" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RichMedia" nillable="true" type="tns:RichMedia" />
  <xs:complexType name="ArrayOfSurvelemMap">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SurvelemMap" nillable="true" type="tns:SurvelemMap" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSurvelemMap" nillable="true" type="tns:ArrayOfSurvelemMap" />
  <xs:complexType name="SurvelemMap">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="CustomerID" type="xs:long" />
          <xs:element minOccurs="0" name="CustomerSurveyID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Formats" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Order" type="xs:int" />
          <xs:element minOccurs="0" name="Question_Heading" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Question_Ref" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SqName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SurveyType" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SurvelemMap" nillable="true" type="tns:SurvelemMap" />
  <xs:complexType name="ArrayOfSurvelem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Survelem" nillable="true" type="tns:Survelem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSurvelem" nillable="true" type="tns:ArrayOfSurvelem" />
  <xs:complexType name="Survelem">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="BuildingType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="COMMENT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustomerID" type="xs:long" />
          <xs:element minOccurs="0" name="CustomerSurveyID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DateOfSurvey" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Freetext" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OptionID" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="OptionID2ndry" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="Question_Ref" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SqN1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SqN10" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SqN11" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SqN12" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SqN13" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SqN14" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SqN15" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SqN2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SqN3" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SqN4" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SqN5" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SqN6" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SqN7" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SqN8" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SqN9" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SqT1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SqT10" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SqT11" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SqT12" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SqT13" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SqT14" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SqT15" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SqT2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SqT3" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SqT4" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SqT5" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SqT6" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SqT7" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SqT8" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SqT9" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UPRN" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Survelem" nillable="true" type="tns:Survelem" />
  <xs:complexType name="ArrayOfAddress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Address" nillable="true" type="tns:Address" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAddress" nillable="true" type="tns:ArrayOfAddress" />
  <xs:complexType name="Address">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="AddressLine1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AllowCopyFrom" type="xs:boolean" />
          <xs:element minOccurs="0" name="CopiedFrom" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CopyTo" type="xs:boolean" />
          <xs:element minOccurs="0" name="CustomerID" type="xs:long" />
          <xs:element minOccurs="0" name="CustomerSurveyID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DateSurveyed" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FullAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsAlreadyCheckedPropertyType" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsCompleted" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsLoadToPhone" type="xs:boolean" />
          <xs:element minOccurs="0" name="SurveyorId" type="ser:guid" />
          <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TypeUpdated" type="xs:boolean" />
          <xs:element minOccurs="0" name="UPRN" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
  <xs:complexType name="ArrayOfAddressStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AddressStatus" nillable="true" type="tns:AddressStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAddressStatus" nillable="true" type="tns:ArrayOfAddressStatus" />
  <xs:complexType name="AddressStatus">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="AddressId" type="ser:guid" />
          <xs:element minOccurs="0" name="CompletedQuestionsCount" type="xs:int" />
          <xs:element minOccurs="0" name="IsCompleted" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddressStatus" nillable="true" type="tns:AddressStatus" />
  <xs:complexType name="ArrayOfQAAddress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QAAddress" nillable="true" type="tns:QAAddress" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQAAddress" nillable="true" type="tns:ArrayOfQAAddress" />
  <xs:complexType name="QAAddress">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="AddressId" type="ser:guid" />
          <xs:element minOccurs="0" name="IsCompleted" type="xs:boolean" />
          <xs:element minOccurs="0" name="SurveyorId" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QAAddress" nillable="true" type="tns:QAAddress" />
  <xs:complexType name="ArrayOfQAAddressComment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QAAddressComment" nillable="true" type="tns:QAAddressComment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQAAddressComment" nillable="true" type="tns:ArrayOfQAAddressComment" />
  <xs:complexType name="QAAddressComment">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="AddressId" type="ser:guid" />
          <xs:element minOccurs="0" name="QuestionRef" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QAAddressComment" nillable="true" type="tns:QAAddressComment" />
  <xs:complexType name="ArrayOfAddressQuestionGroupStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AddressQuestionGroupStatus" nillable="true" type="tns:AddressQuestionGroupStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAddressQuestionGroupStatus" nillable="true" type="tns:ArrayOfAddressQuestionGroupStatus" />
  <xs:complexType name="AddressQuestionGroupStatus">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="AddressId" type="ser:guid" />
          <xs:element minOccurs="0" name="Group" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsCompleted" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddressQuestionGroupStatus" nillable="true" type="tns:AddressQuestionGroupStatus" />
  <xs:complexType name="ArrayOfAddressMove">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AddressMove" nillable="true" type="tns:AddressMove" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAddressMove" nillable="true" type="tns:ArrayOfAddressMove" />
  <xs:complexType name="AddressMove">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="AddressId" type="ser:guid" />
          <xs:element minOccurs="0" name="FromSurveyorId" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="IsProcessedFrom" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsProcessedTo" type="xs:boolean" />
          <xs:element minOccurs="0" name="ToSurveyorId" nillable="true" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddressMove" nillable="true" type="tns:AddressMove" />
  <xs:complexType name="ArrayOfCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Customer" nillable="true" type="tns:Customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomer" nillable="true" type="tns:ArrayOfCustomer" />
  <xs:complexType name="Customer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Completed" type="xs:boolean" />
          <xs:element minOccurs="0" name="CustomerID" type="xs:long" />
          <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustomerShortName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustomerSurveyID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SurveyImportDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Surveyors" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="ArrayOfOption">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Option" nillable="true" type="tns:Option" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOption" nillable="true" type="tns:ArrayOfOption" />
  <xs:complexType name="Option">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Choose" type="xs:boolean" />
          <xs:element minOccurs="0" name="ConfirmationRequired" type="xs:boolean" />
          <xs:element minOccurs="0" name="CustomerID" type="xs:long" />
          <xs:element minOccurs="0" name="CustomerSurveyID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Disable2nd" type="xs:boolean" />
          <xs:element minOccurs="0" name="Jumpto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Level" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LifeGuide" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NeedToHaveMedia" type="xs:boolean" />
          <xs:element minOccurs="0" name="OptionID" type="xs:int" />
          <xs:element minOccurs="0" name="Option_Number" type="xs:int" />
          <xs:element minOccurs="0" name="Question_Ref" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="createPDF" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Option" nillable="true" type="tns:Option" />
</xs:schema>